<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodePlay</title>

    <script src="https://kit.fontawesome.com/040eb06c51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/play.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="brand">
            Galaxy
        </div>
        <div class="mob-section">
            <div class="project-list">
                <a href="">Projects </a>
            </div>
            <div class="playground">
                <a href="">CodePlay <i class="fa-solid fa-code" style="color: #ffffff;"></i></a>
            </div>
            <div class="1v1">
                <a href="">1v1</a>
            </div>
            <div class="streak">
                <a href=""><i class="fa-solid fa-fire" style="color: #ffffff;"></i></a>
            </div>
            <div class="user">
                <a href="">Guest</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="panel">
            <div class="new">
                <p>New</p>
            </div>
            <div class="Work">
                <p>Work</p>
            </div>
            <div class="trending">
                <p>Trending</p>
            </div>
            <div class="saved">
                <p>Saved</p>
            </div>
            <div class="pre-made">
                <p>Galaxy's</p>
            </div>
        </div>
        <div class="display">
            <div class="card">
                <div class="preview">
                    <iframe src="/ex-play" frameborder="0"></iframe>
                </div>
                <div class="info">
                    <div class="heading">
                        Water wave
                    </div>
                    <div class="name">
                        Galaxy
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="preview">
                    <iframe src="/ex-play" frameborder="0"></iframe>
                </div>
                <div class="info">
                    <div class="heading">
                        Water wave
                    </div>
                    <div class="name">
                        Galaxy
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="preview">
                    <iframe src="/ex-play" frameborder="0"></iframe>
                </div>
                <div class="info">
                    <div class="heading">
                        Water wave
                    </div>
                    <div class="name">
                        Galaxy
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>